DB_HOST=postgres
DB_PORT=5432
DB_NAME=orders_db
DB_USER=postgres
DB_PASSWORD=mySecret
DB_SSLMODE=disable

JWT_SECRET=change-me-in-production

SERVER_PORT=8080

GIN_MODE=debug

TEST_DB_HOST=postgres
TEST_DB_PORT=5432
TEST_DB_NAME=orders_db
TEST_DB_USER=postgres
TEST_DB_PASSWORD=secret
TEST_DB_SSLMODE=disable
